@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}

body{
    margin: 10px;
    /* text-align: center; */
   width: 1040px;
   background-color: slategray;
}

textarea{
    resize:none;
    border:0px; 
    /* width:95% */
  }

.hidden {
    display: none;
  }
.active {
  display: block;
}
/* for memories ----------------------------------- */
#forMemories{
  max-width: max-content;
}

/* header NAV --------------------------------------*/
  .header-nav,.header-nav ul{
      display: flex;
  }
  .header-nav li{
    list-style-type: none;
    margin-left: 2em;
  }
/* menu kurierow -------------------------------------*/
  .nav-kurierow{
      margin: 5px;
      padding-left: 3em;
      /* background-color: rgb(70, 173, 199); */
      display: flex;
      /* justify-content : center; */
      align-items : center;
  }
  .nav-kurierow button{
      margin-left: 2em;
      width: max-content;
      padding: 1em;
      cursor: pointer;
      border: 0;
      border-radius: 5px;
      transition: opacity 0.2s ease-in; 
      opacity: 0.5;
  
  }
  .nav-kurierow button:hover{
      opacity: 1;
  }
  .btn-dpd{
      background-color: rgb(179, 128, 226);
  }
  .btn-dhl{
      background-color: rgb(141, 141, 241)
  }
  .btn-inpost{
      background-color: bisque;
  }
  .btn-transsped{
      background-color: rgb(86, 209, 106);
  }
  .btn-ppl{
      background-color: rgb(168, 167, 166);
  }
  .btn-venipack{
      background-color: rgb(226, 102, 139);
  }
  .btn-inne{
      background-color: rgb(214, 136, 99);
  }



.main1{
    display: flex;
    /* width: 70%; */
}

article{
    flex: auto;
    margin: 1em;
    /* height: 90%; */
    /* background-color: blanchedalmond; */
    display: block;
}
.main-buttons{
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.druk-button{
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  /* border: .1em solid ; */
}
.block-button{
    margin: 15px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.main-button{
    margin: 10px;
    height: 50px;
    padding: 10px;
    /* border-radius: 15px; */
}
/* section kurierow -----------------------*/
.kurier-box{
  display: flex;
  flex: auto;
}
.radio-button-list{
  margin: .5em;
  background-color: bisque;
  border-radius: .5em;
  width: max-content;
  max-height: inherit;
  border:  2px solid rgb(97, 57, 8);
  min-width: 6em;
}
.radio-button-list ul{
  /* display: flex; */
  flex-direction: column;
  /* flex: auto; */
  width: 100%;
}
.radio-button-list li{
  text-align: right;
  /* justify-content: flex-end; */
  list-style-type: none;
  padding: .1em .5em;
  margin-top: .5em;
}
.radio-button-list input{
  vertical-align: middle;
}

.de-selected,.trans-selected{
  display: flex;
  flex-direction: column;
}
.sees-selected,.trans-ch-selected{
  display: block;
  margin: 1em 0;
}
.main-input{
    margin: 15px;
    list-style-type: none;
    width: 90%;
    /* background-color: beige; */
    text-align: center;
    
}

.otvety{
    margin: 10px;
    background-color: aquamarine;
}

fieldset {
    display: flex;
    margin: 10px;
}

legend {
    font-weight: bold;
    /* margin-bottom: 10px; */
    margin-left: 10px;
}

.input-box{
    width: 70%;
    
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.control-box{
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 5px; */
}

div span{
    margin: 5px;
    /* padding: 5px; */
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
}

span label {
    width: 20%;
    text-align: left;
    height: 20px;
}

span input{
    font-size: 1em;
    text-align: center;
}

#country{
    width: 60%;
}


span img{
    margin: 5px;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.no-empty-green{
    border: 2px solid rgb(41, 163, 25);
}

.is-empty-red{
    border: 2px solid rgb(202, 17, 17);
}

.input-checkbox, .img-trash{
    margin: 5px;
    /* background-color: blanchedalmond;     */
    height: 50%;
}

.img-trash{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/* style for modal window Calc*/
.btn-calc{
    width:18px;
    height:18px;
    background-color: #e0e5ea;
    /* padding: 4px 5px; */
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in; 
     opacity: 0.5;

    /* display: flex; */
    justify-content: center;
    align-items: center;  
}
.btn-calc:hover {
    background-color: #e0e5ea;
    opacity: 1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
  }

.modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: inherit;
    
}
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

.modal-content div{
    margin: 10px;
    text-align: center;
}
.modal-content input{
    width: 80%;
    padding: 5px;
}
.modal-content menu{
    margin: 5px;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modal-content button{
    margin: 10px;
    padding: 5px;
}
/* style for  button close  mems*/

.btn-action {
    background-color: #e0e5ea;
    padding: 4px 5px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in; 
     opacity: 0.5;

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}